@page "/Resource/All"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using AdminPanel.Client.Services
@using AdminPanel.Client.DTOs
@inject IResourceService ResourceService

<h1>Alle Ressourcer</h1>
<hr />
<p>
    <NavLink class="btn btn-primary" href="/Resource/Add"><b>+</b> Opret ny ressource</NavLink>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Resource:</th>
            <th>Antal Timeslots:</th>
            <th>Handlinger:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _resourceDTO in _resources)
        {
            string deleteUrl = "/Resource/Delete/" + _resourceDTO.Id.ToString();
            string detailsUrl = "/Resource/Details/" + _resourceDTO.Id.ToString();
            string editUrl = "/Resource/Edit/" + _resourceDTO.Id.ToString();
            <tr>
                <td><NavLink href="@detailsUrl">@_resourceDTO.Name</NavLink></td>
                <td>@_resourceDTO.Timeslots.Count</td>
                <td>
                    <NavLink class="btn btn-info" href="@editUrl">Rediger</NavLink>
                    <NavLink class="btn btn-danger" href="@deleteUrl">Slet</NavLink>
                </td>
            </tr>

        }
    </tbody>
</table>

@code {
    List<ResourceDTO> _resources;

    protected override async Task OnInitializedAsync()
    {
        _resources = await ResourceService.GetAll();
    }
}
