@page "/Resource/Details/{Id:guid}"
@using AdminPanel.Client.DTOs
@using AdminPanel.Client.Services
@attribute [Authorize]
@inject IResourceService ResourceService
@inject NavigationManager NavigationManager

@if (_resource == null)
{
    <Loading/>
}
else
{
    var deleteUrl = "Resource/Delete/" + _resource.Id;
    var editUrl = "Resource/Edit/" + _resource.Id;

    <h1 id="ressourceDetail">Ressource: @_resource.Name</h1>
    <hr/>
    <p>
        <NavLink href="@editUrl" class="btn btn-info">Rediger</NavLink>
        <NavLink href="@deleteUrl" class="btn btn-danger">Slet</NavLink>
    </p>
    <p>
        <b>ID</b>
        <div>@_resource.Id</div>
    </p>
    <p>
        <b>Navn</b>
        <div>@_resource.Name</div>
    </p>
    <p>
        <b>Beskrivelse</b>
        <div>@_resource.Description</div>
    </p>
    <h4 class="mb-4">Tidsperioder (@_resource.Timeslots.Count)</h4>
    @if (_resource.Timeslots.Count == 0)
    {
        <p>Denne ressource har ingen tidsperioder tilknyttet.</p>
    }
    else
    {
        <div class="row">
            @foreach (var timeslot in _resource.Timeslots)
            {
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3">
                        <div class="card-header">Tidsperiode</div>
                        <div class="card-body">
                            <p>
                                <b>Fra</b>
                                <div>@timeslot.From.ToString()</div>
                            </p>
                            <p>
                                <b>Til</b>
                                <div>@timeslot.To.ToString()</div>
                            </p>
                            <p>
                                <b>Tilbagevendende interval (dage)</b>
                                <div>@timeslot.Recurring</div>
                            </p>
                            <p>
                                <b>Tilgængelig</b>
                                @if (timeslot.Available)
                                {
                                    <div>Ja</div>
                                }
                                else
                                {
                                    <div>Nej</div>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    ResourceDTO _resource;

    protected override async Task OnInitializedAsync()
    {
        _resource = await ResourceService.GetFromId(Id);
    }

}