@model UCLDreamTeam.Mail.Domain.Models.Reservation
@{
    ViewData["Title"] = Model.Resource.Name;
    Layout = "_Layout";
}

<p>Hej @Model.Recipent.FirstName!</p>

<br/>

<p>Du har aflyst din reservation af @Model.Resource.Name d. @Model.Timeslot.FromDate.ToString("d") i tidsrummet @Model.Timeslot.FromDate.ToString("HH:mm") til @Model.Timeslot.ToDate.ToString("HH:mm").</p>

<br/>

<p>Du kan frit reserverer en anden gang.</p>